@{
    ViewData["Title"] = "Login";
}

<h2>请输入设备密码</h2>
<form method="post">

    <input name="userName" value="admin" type="hidden" />
    <input name="password" type="password" />
    <input type="submit" value="验证" />
</form>