@{
    ViewData["Title"] = "Home Page";
}



<div class="row">


    <div class="panel">
        <div class="panel-body">
            <div>
                <button class="btn btn-default">送料</button>
                <button class="btn btn-default">等离子</button>
                <button class="btn btn-default">风机组</button>
                <button class="btn btn-primary">水泵</button>
                <button class="btn btn-primary">吹灰</button>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {


    });
</script>