@{
    ViewData["Title"] = "Home Page";
}

<div>
    <button id="refresh">更新状态</button>
</div>
<div class="row">

    <div class="panel">
        <div class="panel-title">
            单项控制
        </div>
        <div class="panel-body">
            <div id="buttonPanel">
                <button id="plasmaGenerator" class="btn btn-default equipment">等离子<i class="fa fa-cog"></i></button>
                <button id="grayFan" class="btn btn-primary equipment">吹灰<i class="fa fa-cog"></i></button>
                <button id="pump" class="btn btn-primary equipment">水泵 <i class="fa fa-cog"></i></button>
                <button id="exhaustMain" class="btn btn-default equipment">风机组 <i class="fa fa-cog"></i></button>
                <button id="exhaustSlave" class="btn btn-default equipment">风机组 <i class="fa fa-cog"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel">
        <div class="panel-title">
            送料控制
        </div>
        <div class="panel-body">
            <div id="buttonPanel">
                <button id="pulverizer" class="btn btn-default equipment">粉碎器<i class="fa fa-cog"></i></button>
                <button id="transfer" class="btn btn-default equipment">传输<i class="fa fa-cog"></i></button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#refresh").click(function () {

                GarbageTerminal.RefreshPowerStatus(function (status) {
                    for (var key in status) {

                        $("#" + key + " i").toggleClass("fa-spin", status[key] == 1);

                    }

                });
            }).click();

            $("button.equipment").click(function () {
                var $this = $(this);
                var enable = $this.find("i").hasClass("fa-spin");
                GarbageTerminal[$this.attr("id")].call(this, !enable, function (data) {
                    if (data) {
                        $this.find("i").toggleClass("fa-spin", !enable);

                    }
                    console.log(data);
                })

            })
        });
    </script>
}