@{
    ViewData["Title"] = "Home Page";
}



<div class="row">


    <div class="panel">
        <div class="panel-title">
            单项控制
        </div>
        <div class="panel-body">
            <div id="buttonPanel">
                <button id="PlasmaGenerator" class="btn btn-default">等离子</button>
                <button id="GrayFan" class="btn btn-primary">吹灰</button>
                <button id="Pump" class="btn btn-primary">水泵</button>
                <button id="ExhaustMain" class="btn btn-default">风机组</button>
                <button id="ExhaustSlave" class="btn btn-default">风机组</button>

            </div>
        </div>

    </div>
</div>

<div>
    <div class="panel">
        <div class="panel-title">
            送料控制
        </div>
        <div class="panel-body">
            <div id="buttonPanel">
                <button id="Pulverizer" class="btn btn-default">粉碎器</button>
                <button id="Transfer" class="btn btn-default">传输</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>